<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Image Prediction Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Add other head elements like favicon, external CSS or JS if needed -->
</head>
<body>
    

    <nav>
        <a href="/" class="home-arrow">← Home</a>
        <!-- Other Navigation bar content -->
    </nav>
    

    <main class="about-container">
        <h1>About Us</h1>
        <section>
            <h2>Our Mission</h2>
            <p>
                At Suppler, we are dedicated to empowering individuals with diverse skin tones to take control of their skin health. We understand the unique challenges that come with melanin-rich skin and provide tailored information and tools to help manage and care for it.
            </p>
        </section>
        
        <section>
            <h2>Our Vision</h2>
            <p>
                Our vision is to become a leading resource for individuals of all skin tones seeking to understand and cherish their natural beauty. We believe everyone deserves access to accurate skin care information, and we strive to fill the gap for those underserved by the mainstream industry.
            </p>
        </section>

        <section>
            <h2>Why Us</h2>
            <p>
                With a focus on inclusivity and science-backed information, our platform leverages advanced image prediction technology to provide instant, reliable insights into skin health. We're passionate about making skin care knowledge and recommendations accessible to all.
            </p>
        </section>
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
