

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Prediction Service</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Add other head elements like favicon, external CSS or JS if needed -->
</head>
<body>
    <nav>
        <!-- Replace # with your actual URLs -->
        <a href="/about">About Us</a>
        <a href="skin_conditions">Skin Conditions</a>
        <a href="/upload" class="cta-butto">Upload Image</a>
        <a href="#" class="cta-button">FAQs</a>
        <!-- Add other navigation items here -->
    </nav>

    <header class="hero">
        <h1>Suppler!</h1>
        <h2>Help us democtarize skincare!.</h2>
        <p>Upload your image for a quick health check.</p>
        <a href="/upload" class="cta-button">Upload Picture</a>
    </header>

    <!-- Add more content or sections here if needed -->

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
